*.o
*.a
*.so
*.lib
*.dylib
*.ll
*.obj

examples/gui-counter
examples/squares
examples/pong
examples/basic-shapes

generated-docs/
raygui/
raylib/

*.tar.br
*.tar.gz

.DS_Store

test-platform.roc
platform/glue.roc

target/
